<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Crea nueva receta</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item>
        <ion-input
          label="Nombre"
          placeholder="nombre receta"
          formControlName="name">
        </ion-input>
      </ion-item>
    
      <ion-item>
        <ion-textarea
          label="Descripcion"
          placeholder="paso a paso de la receta"
          formControlName="description"
          >
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-checkbox
          formControlName="available"
        >Activada?</ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-toolbar>
        <ion-button type="submit" color="danger" expand="block">Crear</ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Error!!"
  subHeader="Todos los campos son obligatorios"
  message="verificar todos los campos!"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>